<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date] %-5level [%50.50X{akkaSource}] %logger{10} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="hyperion" level="debug" />

    <root level="warn">
        <appender-ref ref="stdout" />
    </root>
</configuration>
