<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>[%date] %level [%50.50X{akkaSource}] %logger{10} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>hyperion-meter-agent.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>hyperion-meter-agent.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{HH:mm:ss} %-5level [%30.30logger][%50.50X{akkaSource}] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="hyperion" level="debug" />

    <root level="info">
        <appender-ref ref="file" />
        <appender-ref ref="stdout" />
    </root>
</configuration>
